<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>




        <div>TODO write content</div>



        <footer th:fragment="footer" class="footer-custom py-4 mt-5">
            <div class="container text-center">
                <p class="mb-0">
                    &copy; 2025 <strong>Nataly Sanchez</strong>. Todos los derechos reservados.
                </p>
            </div>
        </footer>


    </body>
</html>
